@charset "UTF-8";


body {
    margin: 0 0 0 0;
    background-color: #1f2271;
}

.earth_image1{
	text-align:center;
}
.earth_clickgame_title{
	color : #f9f9f9;
	font-size : 50px;
}

.earth_spacegame_title{
	color : #f9f9f9;
	font-size : 50px;
}