@charset "UTF-8";

.split{
    display: table;
    width: 100%;
}
.split-item{
    display: table-cell;
    padding: 80px;
    width: 50%;
}
.split-left{
    background: #696969;
    color: #ffffff;
    position: flexd;
}
.split-right{
    background: #000000;
    color: #ffffff;
    position: relative;
}
.split-left__inner{
    height: 8000px;
    width:100%;
    overflow-y:scroll;
	overflow-x:hidden;
}
.split-right__inner{
    height: 100%;
    position: fixed;
    width: 50%;
}

/* ゲーム選択の4つのボタンのクラス */
.button1{
	width: 200px;
	height:200px;
	padding: 10px;
	margin: 0px 10px 10px 0px;
	box-sizing: border-box;
	background: #ffffff;
	cursor: pointer;
}

.button2{
	width: 200px;
	height:200px;
	padding: 10px;
	margin: 0px 0px 10px 10px;
	box-sizing: border-box;
	background: #ffffff;
	cursor: pointer;
}

.button3{
	width: 200px;
	height:200px;
	padding: 10px;
	margin: 10px 10px 0px 0px;
	box-sizing: border-box;
	background: #ffffff;
	cursor: pointer;
}

.button4{
	width: 200px;
	height:200px;
	padding: 10px;
	margin: 10px 0px 0px 10px;
	box-sizing: border-box;
	background: #ffffff;
	cursor: pointer;
}
