@charset "UTF-8";
/* ゲーム選択の4つのボタンのクラス */
.button1{
	width: 200px;
	height:200px;
	padding: 10px;
	margin: 0px 10px 10px 0px;
	box-sizing: border-box;
	background: #ffffff;
	cursor: pointer;
}

.button2{
	width: 200px;
	height:200px;
	padding: 10px;
	margin: 0px 0px 10px 10px;
	box-sizing: border-box;
	background: #ffffff;
	cursor: pointer;
}

.button3{
	width: 200px;
	height:200px;
	padding: 10px;
	margin: 10px 10px 0px 0px;
	box-sizing: border-box;
	background: #ffffff;
	cursor: pointer;
}

.button4{
	width: 200px;
	height:200px;
	padding: 10px;
	margin: 10px 0px 0px 10px;
	box-sizing: border-box;
	background: #ffffff;
	cursor: pointer;
}

