@charset "UTF-8";
.post-btn {
  position: fixed;
  bottom: 10%;
  right: 25%;
  width: 70px;
  height: 70px;
  line-height:70px;
  color:white;
  font-weight: bold;
  font-size: 30px;
  background: aqua;
  border-radius: 50%;
  text-align: center;
}