@charset "UTF-8";
/* 画面分割 */
.split{
    display: table;
    width: 100%;
    display:flex;
}
.split-item{
    display: table-cell;
    padding: 80px;
    width: 50%;
}
.split-left{
    background: #FFE4E1;
    color: #000000;
    position: flexd;
    flex:1;
    height:100vh;
    overflow:auto;
}
.split-right{
    background: #FFE4E1;
    color: #000000;
    position: relative;
    flex:1;
    padding:20px;
}
.split-left__inner{
    height: 8000px;
    width:100%;
    overflow-y:scroll;
	overflow-x:hidden;
	padding:20px;
}
.split-right__inner{
    height: 100%;
    position: fixed;
    width: 50%;
}

/* 「表示方法プルダウンメニュー」 */
.sortmenu {
    display: inline-flex;
    align-items: center;
    position: relative;
}

.sortmenu::after {
    position: absolute;
    right: 15px;
    width: 10px;
    height: 7px;
    background-color: #535353;
    clip-path: polygon(0 0, 100% 0, 50% 100%);
    content: '';
    pointer-events: none;
}

.sortmenu select {
    appearance: none;
    min-width: 230px;
    height: 2.8em;
    padding: .4em calc(.8em + 30px) .4em .8em;
    border: none;
    border-bottom: 2px solid #cccccc;
    background-color: #fff;
    color: #333333;
    font-size: 1em;
    cursor: pointer;
}

.sortmenu select:focus {
    outline: none;
}

/* 削除ボタン */
input[name="SUBMIT"] {
	background-color: #ffff80;
	border-radius: 50%;
 	line-height: 100px;
	width: 100px;
	height: 100px;
	padding: 0;
	-webkit-box-shadow: 0 5px 0 #e6d900;
	box-shadow: 0 5px 0 #e6d900;
}

input[name="SUBMIT"]:hover {
	-webkit-transform: translate(0, 3px);
	transform: translate(0, 3px);
	-webkit-box-shadow: 0 2px 0 #e6d900;
	box-shadow: 0 2px 0 #e6d900;
}


/* 爆弾カーソル */
.delete_button  {
    cursor: default;
}

.delete_button :hover {
    cursor: url('/BtwoB/img/bakudan.cur'), auto;
}

.delete_button :active {
    cursor: url('/BtwoB/img/bakudan.cur'), auto;
}

/*========= ページトップのためのCSS ===============*/
/*リンクを右下に固定*/
#page-top {
	position: fixed;
	right: 800px;
	bottom: 40px;
	z-index: 9999;
    /*はじめは非表示*/
	opacity: 0;
	transform: translateY(150px);
}

/*　上に上がる動き　*/
#page-top.UpMove{
	animation: UpAnime 0.5s forwards;
}

@keyframes UpAnime{
  from {
    opacity: 0;
	transform: translateY(150px);
  }
  to {
    opacity: 1;
	transform: translateY(0);
  }
}

/*　下に下がる動き　*/
#page-top.DownMove{
	animation: DownAnime 0.5s forwards;
}

@keyframes DownAnime{
  from {
  	opacity: 1;
	transform: translateY(0);
  }
  to {
  	opacity: 1;
	transform: translateY(150px);
  }
}

/*画像の切り替えと動き*/
#page-top a {
    /*aタグの形状*/
	display: block;
	width: 100px;
	height: 100px;
	color: #333;
	text-align: center;
	text-transform: uppercase;
	text-decoration: none;
	font-size:0.6rem;
    /*背景画像の指定*/
	background: url("/BtwoB/img/hidarimukilamb.png") no-repeat center;
	background-size: contain;
}

#page-top.floatAnime a{
	width: 100px;
	height: 130px;
    /*背景画像の指定*/
	background: url("/BtwoB/img/husenlamb.png") no-repeat center;
	background-size: contain;
    /*アニメーションの指定*/
	animation: floatAnime 2s linear infinite;
	opacity: 0;
}

@keyframes floatAnime {
  0% { transform: translateX(0); opacity: 0; }
  25% { transform: translateX(-6px);opacity: 1; }
  50% { transform: translateX(0) }
  100% { transform: translateX(6px);opacity: 1; }
}

/*Page Topと書かれたテキストの位置*/
#page-top span{
    position: absolute;
    bottom: -20px;
    right: 20px;
	color: #666;
}
/*検証のためのCSS*/
section{
padding: 500px 0;
}


