@charset "UTF-8";
/* 愚痴入力のcss */
/* 背景色変更 */
html {
	background-color: #ffffff;
}
body {
	min-height: 100vh;
	background-color: #FFE4E1;
    }

/* 入力欄を真ん中に設定 */
.mur_in {
	text-align:center;
}
/* タグのプルダウンメニュー*/

.tag_menu {
    display: inline-flex;
    align-items: center;
    position: relative;
}

.tag_menu::after {
    position: absolute;
    right: 15px;
    width: 10px;
    height: 7px;
    background-color: #535353;
    clip-path: polygon(0 0, 100% 0, 50% 100%);
    content: '';
    pointer-events: none;
}

.tag_menu select {
    appearance: none;
    min-width: 230px;
    height: 2.8em;
    padding: .4em calc(.8em + 30px) .4em .8em;
    border: none;
    border-bottom: 2px solid #cccccc;
    background-color: #fff;
    color: #333333;
    font-size: 1em;
    cursor: pointer;
}

.tag_menu select:focus {
	outline: none;
}
/* テキストエリアcss */
#nyuryokuarea {
	width: 800px; /* 幅（ピクセル単位） */
	height: 200px;
	font-size: 25px; /* 好みのサイズに変更してください */
}

/* ボタン */

.btn,
a.btn,
button.btn {
  font-weight: 700;
  line-height: 1.5;
  position: relative;
  display: inline-block;
  padding-top: 5px;
   padding-right: 10px;
  padding-bottom: 5px;
  padding-left: 10px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  letter-spacing: 0.1em;
  color: #212529;
  border: 1px solid black;
  border-radius: 0.5em;
}

.btn--orange,
a.btn--orange {
  color: #ff8080;
  background-color: #ffffff;
}

.btn--orange:hover,
a.btn--orange:hover {
  color: #fff;
  background: #ff8080;
}

/* エラーメッセージの色 */
.error-message {
	color: red;
  }