@charset "UTF-8";
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f2f2f2;
    padding: 10px;
}

.hamburger-menu {
    display: none;
    cursor: pointer;
}

.line {
    width: 25px;
    height: 3px;
    background-color: #000;
    margin: 5px 0;
}

.menu {
    display: flex;
    list-style-type: none;
}

.menu li {
    margin-right: 20px;
}

.menu li a {
    color: #000;
    text-decoration: none;
}

.dropdown-menu {
    display: none;
    position: absolute;
    background-color: #fff;
    padding: 10px;
    list-style-type: none;
}

.dropdown:hover .dropdown-menu {
    display: block;
}