@charset "UTF-8";

/* テーブルデザイン */
/* タグ表示部分 */
.tagmurmur tr{
	display: table;
}
.tag {
	border-radius: 30px;
	border-spacing: 0;
    background-color: #ffffff; /* 白い塗りつぶし */
    border: none;
    text-align: center;
    padding: 8px;
}
.murmur {
	width: 400px; /* 画面幅の50% */
    /* max-width: 50%; */ /* 最大幅を50%に制限 */
	border-collapse: collapse;
	padding: 8px;
	background-color: #ffffff; /* 白い塗りつぶし */
	border: none;
	text-align: left;
}

