@charset "UTF-8";

/* 画面分割 */
.split{
    display: table;
    width: 100%;
    display:flex;
}
.split-item{
    display: table-cell;
    padding: 80px;
    width: 50%;
}
.split-left{
    background: #FFE4E1;
    color: #000000;
    position: flexd;
    flex:1;
    height:100vh;
    overflow:auto;
}
.split-right{
    background:#FFE4E1;
    color: #000000;
    position: relative;
    flex:1;
    padding:50px 50px 20px 20px;
}
.split-left__inner{
    height: 8000px;
    width:100%;
    overflow-y:scroll;
	overflow-x:hidden;
	padding:50px 50px 20px 50px;
}
.split-right__inner{
    height: 100%;
    position: fixed;
    width: 50%;
}


/* 「愚痴一覧表示ボタン」「新規愚痴入力ボタン」 */
input[name="murlist_button"]{
	position:fixed;
	right:150px;
	bottom:40px;
	width: 100px;
	height: 100px;
}

input[name="murinput_button"]{
	position:fixed;
	right:30px;
	bottom:40px;
	width: 100px;
	height: 100px;
}


