@charset "UTF-8";

/* 画面分割 */
.split{
    display: table;
    width: 100%;
    display:flex;
}
.split-item{
    display: table-cell;
    padding: 80px;
    width: 50%;
}
.split-left{
    background: #FFE4E1;
    color: #000000;
    position: flexd;
    flex:1;
    height:100vh;
    overflow:auto;
}
.split-right{
    background:#FFE4E1;
    color: #000000;
    position: relative;
    flex:1;
    padding:50px 50px 20px 20px;
}
.split-left__inner{
    height: 8000px;
    width:100%;
    overflow-y:scroll;
	overflow-x:hidden;
	padding:50px 50px 20px 50px;
}
.split-right__inner{
    height: 100%;
    position: fixed;
    width: 50%;
}


/* 「愚痴一覧表示ボタン」「新規愚痴入力ボタン」 */
input[name="murlist_button"]{
	position:fixed;
	right:150px;
	bottom:40px;
	width: 100px;
	height: 100px;
}

input[name="murinput_button"]{
	position:fixed;
	right:30px;
	bottom:40px;
	width: 100px;
	height: 100px;
}

/*========= ページトップのためのCSS ===============*/
/*リンクを右下に固定*/
#page-top {
  position: fixed;
  right: 10px;
  bottom:30px;
  z-index: 2;
    /*はじめは非表示*/
  opacity: 0;
  transform: translateY(150px);
}

/*　上に上がる動き　*/
#page-top.UpMove{
  animation: UpAnime 0.5s forwards;
}

@keyframes UpAnime{
  from {
    opacity: 0;
  transform: translateY(150px);
  }
  to {
    opacity: 1;
  transform: translateY(0);
  }
}

/*　下に下がる動き　*/
#page-top.DownMove{
  animation: DownAnime 0.5s forwards;
}

@keyframes DownAnime{
  from {
    opacity: 1;
  transform: translateY(0);
  }
  to {
    opacity: 1;
  transform: translateY(150px);
  }
}

/*画像の切り替えと動き*/
#page-top a {
    /*aタグの形状*/
  display: block;
  width: 100px;
  height: 100px;
  color: #333;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  font-size:0.6rem;
    /*背景画像の指定*/
  background: url("/BtwoB/img/hidarimukilamb.png") no-repeat center;
  background-size: contain;
}

#page-top.floatAnime a{
  width: 100px;
  height: 130px;
    /*背景画像の指定*/
  background: url("/BtwoB/img/husenlamb.png") no-repeat center;
  background-size: contain;
    /*アニメーションの指定*/
  animation: floatAnime 2s linear infinite;
  opacity: 0;
}

@keyframes floatAnime {
  0% { transform: translateX(0); opacity: 0; }
  25% { transform: translateX(-6px);opacity: 1; }
  50% { transform: translateX(0) }
  100% { transform: translateX(6px);opacity: 1; }
}

/*Page Topと書かれたテキストの位置*/
#page-top span{
    position: absolute;
    bottom: -20px;
    right: 20px;
  color: #666;
}



